body{
    padding: 50px 30px 50px 80px;
    background-color: beige;
}
/* h1.fnt-red{
    color:red;
}
h1,p.fnt-blue{
    color:blue;
} */

h1.titulo{
    color: aqua;
    font-size: 30px;
    font-style: italic;
}

p.texto{
    color: blue;
    font-size: 15px;
}

b.destacado{
    font-style: italic;
    font-weight: bold;
}

