.container {
    margin: auto;
    width: 90%;
    display: flex;
    text-align: left;
}

.columna {
    background-color: #f9f3f3;
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

.precio{
    font-weight: bold;
}
p.descripcio{
font-weight: lighter;}
.imagenes {
    width: 170px;
    height: 170px;
}

.iconoBiciHolande {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 250px;
}

.iconoBiciCarretera {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 450px;
}

.iconoBiciAlanCarretera {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 50px;
}

.buttonHeart {
    color: red;
    border: none;
}

.buttonComents {
    color: green;
    border: none;
}

button{
    font-size: 25px;
    margin: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}
button:hover{
    color: black;
}
