body{
    background-color: beige;
}
.container{
    border-radius: 5px;
    border: 1px solid black;
    width: 40%;
    margin: 0;
    background-color: aqua;
}

.blanco{
    border-radius: 5px;

    margin-top: -140px;
    margin-left: 120px ;
    border: 1px solid black;
    height: 160px;
    width: 55%;
    background-color: white;
}
