/* 
.container{
border: 1px solid black;
width: 90%;
height: 212px;
}
h1{
    background-color: blue;
    color: white;
}
h2{
    background-color: red;
    color: white; 
    margin-top: 100px;
}
 */

.rectangulo {
    width: 50%;
    position: relative;
}


.texto {
    position: absolute;
    text-align: center;
    margin-top: -145px;
    margin-left: 85px;
}

.circuloEsquinaIzquierda {
    position: absolute;
    margin-top: -225px;
    margin-left: 5px;
    font-size: 50px;
    color: black;
    background-color: white;
    border-radius: 45%;
}

.circuloEsquinaDerecha {
    position: absolute;
    margin-top: -225px;
    margin-left: 305px;
    font-size: 50px;
    background-color: white;
    color: black;
    border-radius: 45%;

}

.circuloInferiorIzquierda {
    position: absolute;
    margin-top: -75px;
    margin-left: 5px;
    font-size: 50px;
    background-color: white;
    color: black;
    border-radius: 45%;

}

.circuloInferiorDerecha {
    position: absolute;
    margin-top: -75px;
    margin-left: 305px;
    font-size: 50px;
    background-color: white;
    color: black;
    border-radius: 45%;

}