.iconos{
    background-color: beige;
    text-align: center;
    padding:  30%;
    width: 100%;
}

.rightHand{
    
    font-size: 100px;
    background-color: red;
    color: white;
    padding: 5%;

}
.downHand{
    font-size: 100px;
    background-color: green;
    color: white;
    margin-left: 5px;
    padding: 5%;

}
.upHand{
    position: absolute;
    font-size: 100px;
    background-color: blue;
    margin-left: -330px;
    margin-top: 180px;
    color: white;
    padding: 5%;

}
.leftHand{
    position: absolute;
    font-size: 100px;
    background-color: black;
    color: white;
    margin-left: -155px;
    margin-top: 180px;
    padding: 5%;

}