.fila{
    display: flex;
    color: grey;
}
.columna{
    font-size: 100px;
    background-color: grey;
    margin: 2px;
}
.fas{
    font-size: 50px;
    background-color: grey;
    margin: 2px;
}

.columna:hover{
    background-color: green;
}
.fas:hover{
    background-color: red;
}
