@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
/* p::first-letter{
font-size: 2em;
}

li.moneda::after {
    content: " €";
} */

.container {
    background-color: beige;
}

p::first-letter,
p::first-line {
    font-family: 'Oldenburg', cursive;
    font-size: 3em;
    color: red;
}