/* Elementos p QUE TENGAN COMO ASCENDENTE DIRECTO UN div con clase="container"
div.container>p {
    background-color: black;
}

/* CUALQUIER ELEMENTO p QUE ESTE DENTRO DE UN div CON clase="container" */
/* div.container p {
    background-color: red;
} */

/* TODOS LOS ELEMENTOS DENTRO DE UN div de clase="container" */
/* div.container *{
    background-color: green;
} */ 

/* SUBRAYARA LOS ELEMENTOS QUE ESTEN POR DELANTE O ACONTINUACION DEL ELEMENTO div QUE CONTIENE LA CLASE="container" */
/* div.container + span{
    background-color: red;
} */

/* TODOS LOS ELEMENTOS DE TIPO p CON UN ATRIBUTO class="margen" 
= iguales a 
$ = finalizan con
* = contienen
^ = empiezan por*/

/* p[class="margen"]{
    background-color: green;
} */

p[class *="m"]{
    background-color: red;
}