/* EJEMPLO 1: FORMULARIO DE LOGIN !!!!!!!

div{
    text-align: center;
}

form.miformulario{
    padding: 30px 30px 10px 30px;
    border: 1px dashed black;
    width: 330px;
    margin: auto;
}

form.miformulario > label{
    width: 100px;
    display: inline-block;
}

form.miformulario > input{
    width: 200px;
    margin-bottom: 10px;
}
form.miformulario button{
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
} */



