/* 
EJEMPLO 1: CAMBIANDO DE COLOR SEGUN EL TAMAÑO DE LA PANTALLA¡¡¡¡¡¡¡¡
@media only screen and (max-width: 799px) {
    body {
        background-color: green;
    }
}

@media only screen and (min-width: 800px) {
    body {
        background-color: red;
    }
} */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        width: 3%;
        background-color: green;
        margin-bottom: 10px;
        margin-left: 1px;
    }

    .col-xl-3,.col-xl-2 {
        width: 15%;
        background-color: red;
        margin-bottom: 10px;
        margin-left: 1px;
    }
}

@media only screen and (max-width: 992px) {
    .col-md-3 {
        width: 7%;
        background-color: green;
        margin-bottom: 10px;
        margin-left: 1px;
    }
}

@media only screen and (min-width: 768px) {

    .col-md-1,.col-md-2 {
        width: 7%;
        background-color: red;
        margin-bottom: 10px;
        margin-left: 1px;
    }
}