.bola {
    background-color: red;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 25px;
}
.cuadrado {
    background-color: red;
    display: inline-block;
    height: 50px;
    width: 150px;
    margin: 5px;
}
.linea-superior {
    background-color: red;
    display: inline-block;
    height: 1px;
    width: 150px;
    margin: 5px;
}
.linea-inferior {
    background-color: black;
    display: inline-block;
    height: 3px;
    width: 150px;
    margin: 5px;
}